/* colors Salmon to Aqua */
:root {
  --color1: #e27c7c;
  --color2: #a86464;
  --colorText: #6d4b4b;
  --colorLinksHeader: #503f3f;
  --color3: #333333;
  --colorLinksFooter: #466964;
  --colorSecondary: #599e94;
  --colorPrimary: #6cd4c5;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  display: flex;
  background-color: var(--colorSecondary);
  color: var(--colorLinksHeader);
}

nav {
  display: flex;
  justify-items: flex-end;
  padding: 1em;
  width: 50%;
}

.nav-links {
  text-decoration: none;
  color: inherit;
}

.nav-links :visited {
  /* color: inherit; */
  text-decoration: none;
}

main {
  display: flex;
  flex-flow: column;
  background-color: var(--colorPrimary);
  color: var(--colorText);
}

section {
  display: flex;
  width: 60%;
  padding: 1em;
}

/* #projects {
  display: flex;
  flex-flow: column;
} */
.projects_container {
  display: flex;
  justify-content: start;
}

li {
  list-style-type: none;
}

.skills_container {
  width: 100%;
}
.skills_list {
  display: flex;
  justify-content: space-around;
}
.skills_icon {
  width: 2em;
  /* padding: 4px; */
}

footer {
  background-color: var(--colorLinksFooter);
}

.screenshot_invisible {
  visibility: hidden;
}

.screenshot_visible {
  visibility: visible;
}
